body {
    background-color: #f5f7fa;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    text-shadow: 1px 1px 2px #ccc;
}

a.btn {
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 0.75rem;
    transition: all 0.2s ease-in-out;
}

    a.btn:hover {
        transform: scale(1.05);
    }
.bg-suave {
    background-color: #f0f4f8;
}