@model Pañol.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Login", "Usuarios", FormMethod.Post))
{
    <div class="form-group">
        <label for="Email">Usuario</label>
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Enter email" })
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
